/* Write your CSS here */
/* Write your CSS here */
.button {
  border: 1px solid #ff0b37;
  color: #ff0b37;
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputEl {
  width: 350px;
  height: 25px;
  margin-top: 20px;
  padding: 10px;
}
.checked {
  text-decoration: line-through;
}
